<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">编程语言<span class="badge pull-right">42</span></a></li>
                        <li><a href="#">操作系统<span class="badge pull-right">42</span></a></li>
                        <li><a href="#">数据库<span class="badge pull-right">42</span></a></li>
                        <li><a href="#">技术交流<span class="badge pull-right">42</span></a></li>
                        <li><a href="#">关于<span class="badge pull-right">42</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2> <%= title %></h2>
            <label>作者：</label><small><%= author %></small>    <label>发表日期：</label><small><%= publishDate %></small></label>
            <p><%= content%> </p>
        </div>

    </div>
</div>

