<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="masthead">
        <h3 class="text-muted"><%=title %></h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/list/1">编程语言</a></li>
            <li><a href="/list/2">操作系统</a></li>
            <li><a href="/list/3">数据库</a></li>
            <li><a href="/list/4">技术交流</a></li>
            <li><a href="/list/5">关于</a></li>
        </ul>
    </div>
</div>


<%-body -%>

<div class="container">
    <div class="footer">
        <p>&copy; Company 2013</p>
    </div>
</div>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
