<div class="container">

    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#">编程语言</a></li>
                        <li><a href="#">操作系统</a></li>
                        <li><a href="#">数据库</a></li>
                        <li><a href="#">技术交流</a></li>
                        <li><a href="#">关于</a></li>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">编程语言</a></li>
                        <li><a href="#">操作系统</a></li>
                        <li><a href="#">数据库</a></li>
                        <li><a href="#">技术交流</a></li>
                        <li><a href="#">关于</a></li>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">编程语言</a></li>
                        <li><a href="#">操作系统</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-body">
                    <h2>1. hello world</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-primary" href="/detail/1" role="button">View details &raquo;</a></p>
                </div>
                <div class="panel-body">
                    <h2>2. node.js的初级应用</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-primary" href="/detail/2" role="button">View details &raquo;</a></p>
                </div>
                <div class="panel-body">
                    <h2>3. Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-primary" href="/detail/3" role="button">View details &raquo;</a></p>
                 </div>
                <ul class="pagination pagination-lg">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
             </div>
        </div>
    </div>
</div>

